{% extends 'Nav.html' %}
{% load static %}

{% block title %}
LiveCourse
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/LiveCourse.css' %}">
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #121212;
        color: #ffffff;
    }
    .container{
        font-size: 3vh;
        padding: 20px;
        text-align: left;
    }
    .header {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .tags {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .tag {
        background-color: rgba(37, 35, 35, 0.683);
        padding: 10px 15px;
        border-radius: 20px;
        font-size: 2vh;
        margin-left: -3vh;
        margin-right: 2vh;
    }
    .price {
        font-size: 1.5em;
        margin: 20px 0;
    }
    .old-price {
        text-decoration: line-through;
        color: #888;
        margin-left: 10px;
    }
    .button {
        background-color:rgb(60, 169, 107);
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        margin: 20px 0;
    }
    .button:hover {
        background-color: #019875;
    }
    .details {
        margin-top: 30px;
    }
    .details>p {
        margin: 10px 0;
    }
    #image{
        width: 560px;
        height: 317px;
    }
    .highlight-text {
        text-align: center;
        margin-top: 200px;
    }
    .highlight-text h1 {
        font-size: 7vw;
        font-weight: bold;
        background: linear-gradient(to right, red,orange,rgb(215, 215, 56),red);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left:-125% ;
        max-width: 800px;
        height: 200px;
    }
    .highlight-text p {
        font-size:4vw;
        margin-top: -50px;
        margin-left: -120%;
    }
</style>
{% endblock css %}

{% block course_details %}
<div id="left_heading">
    <div class="container">
        <h1 class="header">Job Ready AI Powered Cohort: Complete Web Development + DSA + Aptitude</h1>
        <div class="tags">
            <span class="tag">MERN Stack</span>
            <span class="tag">DSA With JS</span>
            <span class="tag">AI Powered</span>
            <span class="tag">Placement Focus</span>
            <span class="tag">Aptitude</span>
        </div>
        <div class="price">
            Price:<span style="color:rgb(100, 194, 141)">₹4999</span> <span class="old-price">₹8499</span> (+ GST)
        </div>
        <p style="color:rgb(100, 194, 141);">Early Bird Offer Applied!</p>
        <a href="{% url 'myapp:signin' %}"><button class="button">Buy Now</button></a>
        <p>Next Batch Starts on <strong>27th January</strong></p>
    </div>
</div>
<div id="right_video">
    <div id="image">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GfAaK8dLtYs" title="Get JOB READY in 6 Months with AI-Powered Cohort and Expert Guidance" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="details">
        <p><strong>Language:</strong> Hindi</p>
        <p><strong>Schedule:</strong> Mon - Sat (8:30 PM)</p>
        <p><strong>Certificate:</strong> YES</p>
        <p><strong>Total Content:</strong> 200+ Hours</p>
        <div class="highlight-text">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Zero To Job-Ready</h1>
            <p>In 5 Months*</p>
        </div>
    </div>
</div>
<div>
    <img src="{% static 'images/jspic.webp' %}" alt="" style="width: 1000px;height: 700px;margin-left: 150px;margin-top: 300px;">
</div>
<div style="margin-left: 10vw;margin-top: 10vw; margin-bottom: 20vw;">
    <h1 style="font-size: 14vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Syllabus</h1>
    <h3 style="color:rgb(93, 95, 96) ;font-size: 4vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Dominate. From start to victory.</h3>
</div>
<hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">HTML/CSS</summary>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">HTML Basics</h2>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Sematic HTML</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Forms and Validation</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">MUltimedia Elements (Audio,Video)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">CSS Fundamentals</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">CSS Box Model</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Flexbox</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Grid Layout</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">CSS Animations</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Transitions</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Keyframe Animation</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Responsive Design</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Media Queries</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;"> CSS Variables</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">CSS Frameworks(TailwindCSS)</h3>
        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">JavaScript</summary>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Introduction to JavaScript</h2>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Functions (Declaration,Expression,Arrow)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Scope (Global,Local,Block)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Closures</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Callbacks</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Promises</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Async/Await</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Error Handling</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Event Loop</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">DOM Manipulation</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Event Handling</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Object-oriented Programming(OOP)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Prototypes</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Inheritance</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">`this' Keyword</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">ES6 Features (Destructuring,Spread Operator)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">JSON Handling</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Fetch API</h3>
        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">React JS</summary>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">JSX</h2>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Functional Components</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Class Components</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Props</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">State</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">useState Hook</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">useEffect Hook</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">React Router</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Context API</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Redux</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Hooks (useMemo,useCallback,useRef)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Form Handling</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Two-Way Binding</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Higher-Order Components</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Lazy-Loading</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Component Lifecycle</h3>
        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Data Structures and Algorithms(DSA)</summary>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Arrays</h2>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Linked Lists</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Stacks</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Queues</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Hash Tables</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">trees(Binary,BST)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Graphs</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Sorting Algorithms</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Searching Algorithms</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Dynamic Programming</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Greedy Algorithms</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Backtracking</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Recursion</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;"> Time Complexity</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Space Complexity</h3>
        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Node.js and Express[Backend]</summary>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">HTTP Server</h2>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">File Handling</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Routing in Express</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">REST APIs</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Middleware</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Authentication (JWT,OAuth)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Session Management</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Cookies</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Error handling</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">WebSockets(Socket.io)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">File Uploads</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">API Rate Limiting</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">CORS</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Testing (Mocha,Chai)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Security(XSS,CSRF,DOS)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Environment Variables</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Debugging</h3>
        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Databases</summary>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">MangoDB</h2>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Aggregation in MangoDB</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Indexing</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Relationships in MangoDB</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Redis</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Replication</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Sharding</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">MySQL</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Queries</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Joins in MySQL</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Normalisation</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">ACID Properties</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Transactions</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Stored Procedurs & Functions</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Triggers</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Optimization</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Database Design</h3>
        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Git/GitHub</summary>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Version Control Basics</h2>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Branching and Merging</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Pull Requests</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Git Workflows (GitFlow)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Conflict Resolution</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">GitHub Collaboration</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">CI/CD with GitHUb Actions</h3>
        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">DevOps and Deployment</summary>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Node.js Deployment(Heroku,AWS)</h2>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">CI/CD Pipelines</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Docker</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Containerization</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Versioning</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Load Balancing</h3>
        </details>
    </div><br>
    <hr><br><div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Additional Topics</summary>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Operating System</h2>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Computer Network</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">SEO Principle</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">GSAP Animations</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Framer Motion</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">AI Tools (ChatGPT,GitHub Copilot)</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Resume building</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Interview Preparation</h3>
            <h3 style="color: gray;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: 2%;">Mock Interview</h3>
        </details>
    </div><br>
    <div id="foot" style="margin-top: 40vh;">
        <hr>
        <div class="foot_div">
           <img style="width: 40px; padding-top:200px;margin-right: 3px;" src="{% static 'images/sheryians.png'%}" alt="">
           <p>Let's connect with our socials</p>
           <span><i class="fa-brands fa-instagram" style="color: white;"></i></span>
           <span><i class="fa-brands fa-linkedin" style="color: white;"></i></span>
           <span><i class="fa-brands fa-discord" style="color: white;"></i></span> 
           <span><i class="fa-brands fa-youtube" style="color: white;"></i></span>
           <span><i class="fa-brands fa-twitter" style="color: white;"></i></span>
        </div>
        <div class="foot_div">
            <h1 class="foot_heading">COMPANY</h1><br><br>
            <p>About Us</p>
            <br>
            <p>Support</p>
            <br>
            <p>Privacy Policy</p>
            <br>
            <p>Terms and Condition</p>
            <br>
            <p>Pricing and Refund</p>
            <br>
            <p>Hire From Us</p>
            <br>
            <p>Bug Bounty</p>
            <br>
        </div>
        <div class="foot_div">
            <h1 class="foot_heading">COMMUNITY</h1>
            <br>
            <p>Inertia</p>
            <br>
            <p>Discord</p>
        </div>
        <div class="foot_div">
            <h1 class="foot_heading">Get In Touch</h1>
            <br>
            <p>+91 8109161752,</p>
            <br>
            <p>+91 9691778470</p>
            <br>
            <p>hello@sheryians.com</p><br>
            <pre><p>23-b,Indrapuri Sector C,</p>
      <p>23-b,Indrapuri Sector C,</p></pre>
        </div>
      </div>
      <footer>
        <hr><hr><center><p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Copyright ©️ 2024 Sheryians Pvt.Ltd</p></center>
        <center><p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">AllRights Reserved</p></center>
      </footer>
{% endblock course_details %}  