{% extends 'Nav.html' %}
{% load static %}
{% block title%}
Sign In
{% endblock title%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/Signin.css' %}">
{% endblock css %}

{% block middle_content %}
<div class="container">

    <div id="heading">
      <h1>Sign In</h1>
    <a href="{% url 'myapp:signin' %}">Phone</a>
    <a href="{% url 'myapp:mail' %}" id="email_anchor">Email</a>
   </div> 
    <form>
      <div class="form-group">
        <label for="phone" required><p>Mobile number</p></label>
        <input type="text" id="phone" placeholder="Enter your phone number">
      </div>

      <div class="form-group">
        <label for="email" id="email"><p>Email Address</p></label>
        <input type="text" id="email_input" placeholder="Enter your email">
      </div>

      <button type="submit" id="continue">Continue</button>
    </form>

    <div class="or">or</div><br><br>

    <button class="google-btn">
      <img style="width:15px;" src="{% static 'images/GoogleLogoIcon.png' %}" alt="Google Logo">
      Continue with Google
    </button>
<br><br>
    <button class="google-btn">Create a New Account</button>
  </div>
{% endblock middle_content %}