{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Sheryians Coding School|Learn
        {% endblock title %}
    </title>
    <link rel="icon" href="{% static 'images/sheryians.png' %}">
    <link rel="stylesheet" href="{% static 'css/Nav.css' %}">
    {% block css %}
    {% endblock css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <nav>
        <div id="lion_img"><img style="width: 20px; padding: 5px;margin-right: 3px;" src="{% static 'images/sheryians.png'%}" alt=""></div>
        <a href="{% url 'myapp:home' %} " id="sheryians"> Sheryians Coding school</a>
        <a href="{% url 'myapp:home' %}" id="home" class="anchortag">Home</a>
        <a href="{% url 'myapp:course' %}" id="course" class="anchortag">Courses</a>
        <a href="{% url 'myapp:livecourse' %}" id="bootcamp" class="anchortag" style="color: brown;">LiveCourse</a>
        <a href="{% url 'myapp:requestcall' %}" id="requestcall" class="anchortag">Request Call</a>
        <a href="{% url 'myapp:signin' %}" class="anchortag"><button  id="signin">SignIn</button></a>
    </nav>
    {% block course_details %}
    {% endblock course_details %}  
    {% block middle_content %}
    {% endblock middle_content %}
    {% block subscription %}
    {% endblock subscription %}
    {% block concepts %}
    {% endblock concepts %}
    {% block video %}
    {% endblock video  %}
    {% block courses %}
    {% endblock courses  %}
    {% block foot %}
    {% endblock foot %}
</body>
</html>