{% extends 'Nav.html' %}
{% load static %}
{% block title%}
Sign In
{% endblock title%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/Signin.css' %}">
{% endblock css %}

{% block middle_content %}
<div class="container">
    <div id="heading">
      <h1 id="signin_form">Sign In</h1>
   </div> 
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" id="continue">Continue</button>
    <div class="or">or</div><br><br>
    <button class="google-btn">
      <img style="width:15px;" src="{% static 'images/GoogleLogoIcon.png' %}" alt="Google Logo">
      Continue with Google
    </button>
<br><br>
    <button class="google-btn">Create a New Account</button>
  </div>
  </form>
{% endblock middle_content %}